.tab-two-content {
    .tab-login {
        text-align: center;
        .login-text {
            padding: 5px 30px;
            font-size: 15px;
            color: #999;
        }
    }
    .button {
        margin: 30px 15px;
        color: #fff;
        background:#449284;
        border-radius: 50px;
    }
}